/* 
.hidden{
  display: none;
}

.usa-hero-callout .usa-button {
  margin-top: 4rem;
} */

/* .usa-link-medium {
  background-image: url('/assets/images/medium.png');
} */

.usa-link-github {
  background-image: url('../images/github.png');
}

.usa-link-trello {
  background-image: url('/spark-website/assets/images/trello-logo.png');
}

.usa-link-slack {
  background-image: url('/assets/images/slack-logo.png');
}

.usa-link-linkedin {
  background-image: url('/assets/images/linkedin-logo.png');
}

/* .usa-footer-contact-links .usa-link-generic {
  text-decoration: none;
}

.usa-content .usa-layout-docs-main_content p {
  max-width: none;
} */


/* For the decision tree UI */
/* .tree-node {
  display: none;
}
.tree-node.active {
  display: block;
}
aside.tree-reset {
  text-align: right;
}
.tree-node-answer {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  width: 60%;
  margin: 1em auto;
} */
